body {
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: black;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

h1, h2, h3 {
    color: #333;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1   
 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ccc;   

    font-weight: bold;
}

/* Hero Styles */
.hero {
    background: url('images/hero_bg.jpg') no-repeat center center/cover;
    min-height: 400px;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;   

}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 2rem;
    color: #fff;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #e8491d;
}

/* About Section */
.about {
    padding: 40px 0;
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about p {
    text-align: center;
}

/* Achievements Section */
.achievements {
    padding: 40px 0;
    background: #f4f4f4;
}

.achievement-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.achievement {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.achievement img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Goals Section */
.goals {
    padding: 40px 0;
}

.goals h2 {
    text-align: center;
    margin-bottom: 20px;
}

.goals ul {
    list-style-type: disc;
    padding-left: 40px;
}

/* Advocacy Section */
.advocacy {
    padding: 40px 0;
    background: #f4f4f4;
}

.advocacy h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
